.tags-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}
h3 {
  color: white;
  margin-left: 40px;
  margin-top: 50px;
  height: 10px;
}
li {
  list-style: none;
  margin-right: 20px;
  height: 20px;
}
.tag-btn {
  height: 25px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #f3aa4e;
  color: white;
  font-size: 10px;
  font-weight: bold;
}

.active-tag-btn {
  height: 25px;
  border-radius: 10px;
  background-color: #f3aa4e;
  border: 0px none;
  color: black;
  font-size: 10px;
  font-weight: bold;
}
